{% extends 'layout.html' %}
{% from 'form.html' import show, showb %}

{% block body %}
  <h2>Mitglied zuordnen für {{ parent.name }}</h2>
    <form method="post" action="{{ action }}">
    <table>
	  {% if USER.can_admin(parent) %}
	  {{ show(form.user) }}
	  {% endif %}
	  {{ show(form.email) }}
    </table>
    <input type="submit" value="Store" />
    </form>
<p>Ich konnte deine Mailadrese nicht in der Mitgliederliste finden.<br />
Bitte gib die Adresse ein, die du beim Vereinsbeitritt angegeben
hast.</p>
{% endblock %}
