<li rel="{{obj.oid()}}" class="{% if obj in details %}expanded{% elif obj in aux %}mixed{% else %}collapsed{% endif %} t_{{obj.classname}}">
		<span class="image"></span>
		<a href="{{ url_for("pybble.views.view_oid",oid=obj.owner.oid()) }}">{{ obj.owner.name }}</a>: <a class="content" href="{{ url_for("pybble.views.view_oid",oid=obj.oid()) }}">
			{{ obj.name }}
		</a>
		{% if obj in details -%}
		  <div class="content">
		    {{ subpage(obj,tm_hierarchy) }}
		  </div>
		{% endif %}
		{% if obj in aux -%}
		  <ul>
		  {% for o in obj.all_children(d_comment) %}
		     {{ subpage(o,tm_snippet) }}
		  {% endfor %}
		  </ul>
		{% endif -%}
</li>
