{% extends 'layout.html' %}
{% from 'form.html' import show, showb %}

{% block body %}
  <h2>Edit template for {{ name_discr(form.discr.data) }} / {{ name_permission(form.right.data) }}</h2>
    <form method="post" action="{{ action }}">
    <table>
	  {{ show(form.user) }}
	  {{ show(form.object) }}
	  {{ show(form.discr) }}
	  {{ show(form.new_discr) }}
	  {{ show(form.right) }}
	  {{ show(form.inherit) }}
	  {% if form.clone %}{{ show(form.clone) }}{% endif %}
    </table>
	{% if error %}<div class="error">{{ error }}</div>{% endif -%}
    <input type="submit" value="Update" />
    </form>

{% endblock %}
