{% extends 'layout.html' %}
{% from 'form.html' import show, showb %}

{% block body %}
  {%- if obj %}
  <h2>Beobachtungseintrag bearbeiten</h2>
  {%- else %}
  <h2>neuer Beobachtungseintrag</h2>
  {% endif %}
    <form method="post" action="{{ action }}">
    <table>
  	  {%- if obj %}
	  <tr><th>Eintrag:</th><td>{{ subline(obj) }}</td></tr>
      {%- endif %}
	  {{ show(form.user) }}
	  {{ show(form.object) }}
	  {{ show(form.objtyp) }}
	  {{ showb(form.email) }}
	  {{ showb(form.track_mod) }}
	  {{ showb(form.track_new) }}
	  {{ showb(form.track_del) }}
    </table>
	{% if error %}<div class="error">{{ error }}</div>{% endif -%}
    <input type="submit" value="{% if obj %}Update{% else %}Anlegen{% endif %}" />
    </form>
<hr />
  <h2>vorhandene Beobachtungseinträge</h2>
  <table><thead>
    <tr><td>Objekt</td><td>Typ</td><td>Edit</td></tr>
	</thead><tbody>
  {%- for o in parent.uptree() %}
    {% for p in o.trackings %}
    	<tr><td><a href="#nogo" class="pickup" oid="{{p.parent.oid}}">{{ p.parent }}</a></td>
			<td>{{ name_objtyp(p.objtyp) }}</td>
			<td><a href="{{ url_for('pybble.views.edit_oid',oid=p.oid) }}">Edit</a>
			  | <a href="{{ url_for('pybble.views.delete_oid',oid=p.oid) }}">Del</a></td></tr>
	{% else %}
    	<tr><td><a href="#nogo" class="pickup" oid="{{o.oid}}">{{ subline(o) }}</a></td><td>-</td><td>-</td><td>-</td></tr>
	{% endfor -%}
  {% endfor -%}
    </tbody></table>
	<p>
	  Diese Liste zeigt die system-interne Objekthierarchie der
	  aktuellen Seite, und die Beobachtungseinträge, die du dort bereits
	  angelegt hast.<br />Du kannst einen Eintrag auf der Ebene
	  anlegen, wo er dir am besten passt.
	</p>
<script type="text/javascript">
	$(document).ready( function() {
		$("a.pickup").click( function() {
			$("input#perm_object").val($(this).attr("oid"));
		});
	});
</script>
{% endblock %}
