{% extends 'layout.html' %}
{% from 'form.html' import show, showb %}

{% block body %}
  {% if obj %}
  <h2>Wiki-Seite „{{ name }}“ ändern</h2>
  {% else %}
  <h2>Neue Wiki-Seite{% if name %}„{{ name }}“{% endif %}</h2>
  {% endif %}
    <form method="post" action="{{ action }}">
    <table>
	  {{ show(form.name) }}
	  {{ show(form.page, cols=80,rows=20) }}
	  {{ show(form.comment) }}
	  {%- if obj %}
	  {{ showb(form.minor) }}
	  {%- else %}
	  {{ showb(form.mainpage) }}
	  {%- endif %}
    </table>
	{{ form.hash|safe }}
    <input type="submit" value="{% if obj %}Ändern{% else %}Speichern{% endif %}" />
    </form>

{% endblock %}
