SQLAlchemy>=0.9
gevent>=1.0.1
https://github.com/smurfix/markupsafe/tarball/master
https://github.com/smurfix/markdown/tarball/master
https://github.com/smurfix/jinja2/tarball/master
https://github.com/smurfix/flask/tarball/master
https://github.com/smurfix/flask-script/tarball/master
##Flask-Script>=2.0.2
https://github.com/smurfix/flask-login/tarball/master
https://github.com/smurfix/blinker/tarball/master
##blinker
https://github.com/smurfix/formalchemy/tarball/master
https://github.com/smurfix/yapps/tarball/master
https://github.com/PitMairen/hamlish-jinja/tarball/master
Flask-Security
WTForms
pytz
#python-texttable
#Flask-Assets
#Flask-Babel
#Flask-Bcrypt
#Flask-Misaka
#Flask-Gravatar
#Flask-OAuthlib
#flask-htmlbuilder
#Flask-Principal
#Flask-Mail
#Flask-Testing
#flask-admin
#flask-babelex
#flask-debugtoolbar
#dealer
#flask-collect
#flake8
#passlib
#twill
#Pillow
#pyyaml
#speaklater
#quokka-themes
