<h2>Buch „{{ obj.title }}“</h2>
<p>
Details:
</p>
<table>
<tr><th>Titel:</th><td>{{ obj.title }}</td></tr>
<tr><th>Autor:</th><td>{{ obj.author }}</td></tr>
<tr><th>UPC:</th><td>{{ obj.upc }}</td></tr>
</table>
<div>{{obj.info|markdown}}</div>
<h3>Ausleihwunschliste</h3>
<div>
{% for w in obj.wanted %}
<p><a href="{{ url_for("pybble.views.new_oid",oid=w.owner.oid()) }}">{{ w.owner.name }}</a> am {{ w.requested }}.</p>
{% else %}
<i>keine Ausleihwünsche.</i>
{% endfor %}
</div>

<div>
{% if can_add(d_bookwant) %}
<a href="{{url_for("pybble.views.new_oid",oid=obj.oid(), discr=d_bookwant)}}">Buch ausleihen</a>
|
{% endif %}
<i>Bestell-Link folgt</i>
</div>
