{{ obj.data|markdown }}
<hr />
{%- set ch = obj.last_change %}
{%- if ch %}
<p><i><a href="{{ url_for("pybble.views.view_oid", oid=ch.oid()) }}">Letzte Änderung</a>: {{ ch.timestamp }} von <a href="{{ url_for("pybble.views.view_oid", oid=ch.owner.oid()) }}">{{ ch.owner.username }}</a></i></p>
{%- endif %}
{% set br=joiner(" | ") %}
{% if obj.mainpage and obj.has_children(d_wikipage) %}
<h4>Untergeordnete Seiten:</h4>
<p>
{%-   for o in obj.all_children(d_wikipage) %}
{%-     if o.mainpage %}
          {{ br() }}
<a href="{{ url_for("pybble.views.view_oid", oid=o.oid()) }}" class="wikilink_main">{{ o.name }}</a>
{%-     endif %}
{%-   endfor %}
{%-   for o in obj.all_children(d_wikipage) %}
{%-     if not o.mainpage %}
          {{ br() }}
<a href="{{ url_for("pybble.views.view_oid", oid=o.oid()) }}" class="wikilink_sub">{{ o.name }}</a>
{%-     endif %}
{%-   endfor %}
</p>
{%- endif %}
{% if obj.mainpage and obj.has_children(d_bindata) %}
<hr /><h4>Dateien:</h4>
<p>
{%- for o in obj.all_children(d_bindata) %}
<a href="{{ url_for("pybble.render.download", oid=o.oid(),name=o.name+"."+o.ext) }}"><code>{{ o.name }}.{{o.ext}}</code></a> ({{ o.size|filesizeformat }})<br />
{%- endfor %}
</p>
{%- endif %}
