{{ obj.data|markdown }}
{% if obj.mainpage and obj.has_children(d_wikipage) %}
<h4>Untergeordnete Seiten:</h4>
<p>
{%- set n=0 %}
{%- for o in obj.all_children(d_wikipage) %}
{%- if o.mainpage %}
{%- if n>0 %} | {% endif %}
<a href="{{ url_for("pybble.views.view_oid", oid=o.oid()) }}" class="wikilink_sub">{{ o.name }}</a>
{%- set n=n+1 %}
{%- endif %}
{%- endfor %}
{%- for o in obj.all_children(d_wikipage) %}
{%- if not o.mainpage %}
{%- if n>0 %} | {% endif %}
<a href="{{ url_for("pybble.views.view_oid", oid=o.oid()) }}" class="wikilink_main">{{ o.name }}</a>
{%- set n=n+1 %}
{%- endif %}
{%- endfor %}
</p>
{%- endif %}
{% if obj.mainpage and obj.has_children(d_bindata) %}
<h4>Dateien:</h4>
<p>
{%- for o in obj.all_children(d_bindata) %}
<a href="{{ url_for("pybble.render.download", oid=o.oid(),name=o.name+"."+o.ext) }}"><code>{{ o.name }}.{{o.ext}}</code></a> ({{0}} Bytes)<br />
{%- endfor %}
</p>
{%- endif %}
