<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}Prototype Flask Admin{% endblock %}</title>
		<link rel="shortcut icon" type="image/ico" href="{{ url_for('.static', filename='images/favicon.ico') }}" />
		<link href="{{ url_for('.static', filename='css/admin.css') }}" rel="stylesheet" type="text/css" media="screen" />
		{% block extra_head %}{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
	    <a href="{{ url_for('admin.index') }}">Admin Home</a>
	    {% block content %}{% endblock %}
	    {% block footer %}
    		<div id="footer">
		        <p>Copyright &copy; 2010, Made with Lasers, LLC.</p>
    		</div>
		{% endblock %}
		{% block extra_body %}{% endblock %}
	</body>
</html>
