{% macro show(field) -%}
      <tr {%- if field.errors %} class="error" {%- endif -%} >
        <th>{{ field.label|safe }}:</th>
        <td>{{ field(**kwargs)|safe }}
          {%- if field.errors -%}
		  </td></tr><tr><td>&nbsp;</td><td>
		    {%- set br=joiner("<br />") -%}
            {%- for e in field.errors %}
              {{ br()|safe }}<span class="error">{{e}}</span>
            {%- endfor -%}
          {%- endif -%}
		</td>
      </tr>
{% endmacro %}
{% macro showb(field) -%}
      <tr {%- if field.errors %} class="error" {%- endif -%} >
		<td>&nbsp;</td>
        <td>{{ field(**kwargs)|safe }} <span>{{ field.label|safe }}</span>
          {%- if field.errors -%}
		  </td></tr><tr><td>&nbsp;</td><td>
		    {%- set br=joiner("<br />") -%}
            {%- for e in field.errors %}
              {{ br()|safe }}<span class="error">{{e}}</span>
            {%- endfor -%}
          {%- endif -%}
		</td>
      </tr>
{% endmacro %}

{% macro hide(field) -%}
      {%- if field.errors %}
      <tr class="error" > <th>{{ field.label|safe }}:</th>
		  <td>
		    {%- set br=joiner("<br />") -%}
            {%- for e in field.errors %}
              {{ br()|safe }}<span class="error">{{e}}</span>
            {%- endfor -%}
		</td>
      </tr>
		{%- endif -%}
	  <input type="hidden" name="{{field.name}}" value="{{field.data}}"/>
{% endmacro %}
