{{- XHTML_DTD }}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/" xml:lang="de" lang="de" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ (title_trace|default([]) + [SITE.name])|join(' › ') }}</title>
    {%- set styles = ['style.css'] + styles|default([]) -%}
    {%- for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', file=style) }}" />
    {%- endfor %}

</head>
<body>
	{%- for message in MESSAGES %}
		<div class="message{% if message.success == true %} success{% elif message.success == false %} fail{% endif %}">
			{{ message.text }}
		</div>
	{%- endfor %}

  <h1><a href="{{ url_for('new') }}">Pybble</a></h1>
  <div class="body">{% block body %}<code>Your template didn't provide a 'body' block.</code>{% endblock %}</div>
  <div class="footer">
    <a href="{{ url_for('new') }}">new</a> |
    <a href="{{ url_for('list') }}">list</a> |
    use pybble for good, not for evil
  </div>
</body>
</html>
