<div class="menu left">
	<ul>
		<li><a href="/">Home</a>
			<ul>
				<li><a href="/wiki/MainPage" title="öffentliches Wiki">Das Wichtigste</a></li>
			</ul>
		</li>

		{%- if obj and ( can_write() or can_add() ) %}
		<li>
			{%- if can_write() %}<a href="{{ url_for("pybble.views.edit_oid", oid=obj.oid()) }}">Edit</a>
			{%- else %}<span>Edit</span>
			{%- endif %}
			{%- if can_add() %}
			<ul>
				<li><span>New …</span>
					<ul>
					{% for id,name in addables(obj) %}
						<li><a href="{{ url_for("pybble.views.new_oid", discr=id, oid=obj.oid()) }}">{{ name }} …</a></li>
					{% else %}
						<li><span>… nothing. Bug‽</span></li>
					{% endfor %}
					</ul>
				</li>
			</ul>
			{%- endif %}
			</li>
		{%- endif %}
		{%- if can_admin(SITE) %}
		<li>
			<a href="
				{%- if obj -%}
					{{ url_for("pybble.views.view_tree", oid=obj.oid()) }}
				{%- else -%}
					{{ url_for("pybble.views.view_tree") }}
				{%- endif -%}
				" title="Detail- und Baumansicht">Admin</a>
			<ul>
				{%- if obj -%}
				{%- if obj.site -%}
				<li><a href="{{ url_for("pybble.admin.list_templates", oid=obj.site.oid()) }}">Named Templates</a></li>
				{%- else -%}
				<li><a href="{{ url_for("pybble.admin.list_templates") }}">Named Templates</a></li>
				{%- endif -%}
				<li><a href="{{ url_for("pybble.views.edit_oid", oid=obj.oid()) }}" title="bearbeiten">Edit</a></li>
				<li><a href="{{ url_for("pybble.views.delete_oid", oid=obj.oid()) }}" title="löschen">Delete</a></li>
				<li><a href="{{ url_for("pybble.admin.show_templates", oid=obj.oid()) }}" title="… für dieses Objekt">Templates</a></li>
				<li><a href="{{ url_for("pybble.part.permission.show_permission", permission=obj.oid()) }}" title="… für dieses Objekt">Permissions</a></li>
				{%- else %}
				<li><a href="{{ url_for("pybble.admin.list_templates", oid=SITE.oid()) }}">Named Templates</a></li>
				{%- endif %}
			</ul>
		</li>
		{%- endif %}
	</ul>
</div>
