<div class="menu left">
	<ul>
		<li><a href="/">Home</a>
			<ul>
				<li><a href="/wiki/MainPage">Das Wichtigste</a></li>
			</ul>
		</li>

		{%- if obj and can_edit(obj) %}
		<li><a href="{{ url_for("pybble.views.edit_oid", oid=obj.oid()) }}">Edit</a></li>
		{%- endif %}
		{%- if obj and can_add(obj) %}

		{%- if can_admin(SITE) %}
		<li>
			<a href="
				{%- if obj -%}
					{{ url_for("pybble.views.view_tree", oid=obj.oid()) }}
				{%- else -%}
					{{ url_for("pybble.views.view_tree") }}
				{%- endif -%}
				">Admin</a>
			<ul>
				<li><a href="{{ url_for("pybble.admin.show_templates") }}">Named Templates</a></li>
				{%- if obj -%}
				<li><a href="{{ url_for("pybble.views.edit_oid", oid=obj.oid()) }}">Edit</a></li>
				<li><a href="{{ url_for("pybble.views.delete_oid", oid=obj.oid()) }}">Delete</a></li>
				<li><a href="{{ url_for("pybble.admin.edit_template", template=obj.oid()) }}">Templates</a></li>
				<li><a href="{{ url_for("pybble.admin.edit_permission", permission=obj.oid()) }}">Permissions</a></li>
				{%- endif %}
			</ul>
		</li>
		{%- endif %}
	</ul>
</div>
