{% extends 'layout.html' %}

{% if obj.has_children(d_comment) %}
{%- set styles = ['SubTree.css'] + styles|default([]) -%}
{%- set scripts = ['jQuery.SubTree.js'] + scripts|default([]) -%}
{% endif %}
{% block add_header %}
{% if obj.has_children(d_comment) %}
<script type="text/javascript">
	$(document).ready( function() {
		$('div.comments ul li').subTree({ script: '/snippet/{{d_comment}}', discr: '{{d_comment}}', cscript: '/snippet/hierarchy'});
	});
</script>
{% endif %}
{% endblock %}


{% block body %}
  {% if can_add(d_comment) %}
  <div class="new_comment"><a href="{{ url_for("pybble.views.new_oid",oid=obj.oid(),discr=d_comment) }}">{% if obj.discriminator == d_comment %}antworten{% else %}Diese Seite kommentieren{% endif %}</a></div>
  {% endif %}

{{ subpage(obj) }}

  {% if can_read(d_comment) or can_add(d_comment) %}
  <div class="comments">
  {% if can_read(d_comment) %}
    {% set nc = obj.has_children(d_comment) %}
    <ul class="SubTree">
	  <li class="t_Comments collapsed" rel="{{ obj.oid() }}">
		<span class="image"></span>
		<span href="#nogo" class="contents">
			{%- if not nc -%}
				keine Kommentare
			{%- elif nc == 1 -%}
				ein Kommentar
			{%- else -%}
				{{ nc }} Kommentare
			{%- endif -%}
		</span>
	  </li>
	</ul>
  {% endif %}
  </div>
  {% endif %}
{% endblock %}
