<li rel="{{obj.oid}}{% if key %}/{{key}}{%endif%}" class="directory expanded t_{{obj.type.name}}">
		<span class="image" />
	    {% if key %}{{key}}: {%endif%}<a href="{{ url_for("pybble.views.detail_oid",oid=obj.oid) }}">
			{{ subline(obj) }}
		</a>
<ul style="display: none;">
{% for k,v in obj.as_dict.items() %}
	{% if v is object %}
		<li rel="{{v.oid}}/{{k}}" class="directory collapsed t_{{v.type.name}}">
		<span class="image" />
	    {{k}}:
		<a href="{{ url_for("pybble.views.detail_oid",oid=v.oid) }}">
			{{ subline(v) }}
		</a>
	{% else %}
		<li>{{k}}: {{v}} </li>
	{% endif %}
{% endfor %}
{% for cls,k,count in sub %}
	<li rel="{{obj.oid}}/{{cls.type_id}}/{{k}}" class="directory collapsed td_{{cls.name}}">
		<span class="image" />
	    <a href="#nogo">{{ cls.type.name }}.{{k}} ({% if count > 1 %}{{count}} items{% else %}1 item{%endif%})</a>
	</li>
{% endfor %}
</ul>
</li>
