{% extends 'layout.html' %}
{%- set styles = ['ObjectTree.css'] + styles|default([]) -%}
{%- set scripts = ['jQuery.ObjectTree.js'] + scripts|default([]) -%}
{% block add_header %}
		<script type="text/javascript">
			$(document).ready( function() {
				$('#jq').objTree({ root: '{{obj.oid}}', script: '/snippet' });
			});
		</script>

{% endblock %}
{% block body %}
  {{ subpage(obj,4) }}
  <h2>Object tree of {{ obj }}</h2>
  <ul class="ObjectTree" id="jq">
     <li>Javascript is disabled -- no display!</span>
	 <!-- TODO: generate a child list -->
  </ul>

{% endblock %}
