{% extends 'layout.html' %}
{%- set styles = ['jqueryFileTree.css'] + styles|default([]) -%}
{%- set scripts = ['jQuery.FileTree.js'] + scripts|default([]) -%}
{% block add_header %}
		<script type="text/javascript">
			
			$(document).ready( function() {
				$('.jqueryFileTree').fileTree({ root: '{{obj.oid()}}', script: '{{ url_for('pybble.views.view_snippet') }}' });
			});
		</script>

{% endblock %}
{% block body %}

  <h2>Object tree of {{ obj }}</h2>
  <p>OID: {{ obj.oid() }}</p>
  <div class="jqueryFileTree">
     <span>Javascript is disabled -- no display!</span>
	 <!-- TODO: generate a child list -->
  </div>
{% endblock %}
