  <h2>Zugriff</h2>
    <table>
	  <tbody>
		<tr><th>Zugriff:</th><td>{{ obj }}</td></tr>
		<tr><th>ID:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj.oid()) }}">{{ obj.oid() }}</a></td></tr>
		<tr><th>User:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj.owner.oid()) }}">{{ obj.owner }}</a> ({{ obj.owner.oid() }})</td></tr>
		<tr><th>Objekt:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj.parent.oid()) }}">{{ obj.parent }}</a> ({{ obj.parent.oid() }})</td></tr>
		<tr><th>Art:</th><td>{{ name_discr(obj.discr) }} ({{ obj.discr }})</td></tr>
		<tr><th>Zeit:</th><td>{{ obj.visited }}</td></tr>
	  </tbody>
    </table>
