  <h2>Mitgliedschaft</h2>
    <table>
	  <tbody>
		<tr><th>Mitgliedschaft:</th><td>{{ obj }}</td></tr>
		<tr><th>ID:</th><td><a href="{{ url_for("pybble.views.view_oid", oid=obj.oid()) }}">{{ obj.oid() }}</a></td></tr>
		<tr><th>User:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj_owner.oid()) }}">{{ obj_owner }}</a> ({{ obj_owner.oid() }})</td></tr>
		<tr><th>Gruppe:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj_parent.oid()) }}">{{ obj_parent }}</a> ({{ obj_parent.oid() }})</td></tr>
		<tr><th>Art:</th><td>{% if obj.excluded %}<strong>Ausschluss</strong>{% else %}normal{% endif %}</td></tr>
	  </tbody>
    </table>
