  <h2>Beobachter</h2>
    <table>
	  <tbody>
		<tr><th>Beobachter:</th><td>{{ obj }}</td></tr>
		<tr><th>ID:</th><td><a href="{{ url_for("pybble.views.view_oid", oid=obj.oid()) }}">{{ obj.oid() }}</a></td></tr>
		<tr><th>User:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj.owner.oid()) }}">{{ obj.owner }}</a> ({{ obj.owner.oid() }})</td></tr>
		<tr><th>Objekt:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj.parent.oid()) }}">{{ obj.parent }}</a> ({{ obj.parent.oid() }})</td></tr>
		<tr><th>für Typ:</th><td>{{ name_discr(obj.discr) }} ({{ obj.discr }})</td></tr>
		<tr><th>Email:</th><td>{{ "Yes" if obj.email else "No" }}</td></tr>
		<tr><th>beim Anlegen:</th><td>{{ "Yes" if obj.track_new else "No" }}</td></tr>
		<tr><th>beim Ändern:</th><td>{{ "Yes" if obj.track_mod else "No" }}</td></tr>
		<tr><th>beim Löschen:</th><td>{{ "Yes" if obj.track_del else "No" }}</td></tr>
	  </tbody>
    </table>
