  <h2>Wiki-Seite „{{ obj.name }}“</h2>
    <table>
	  <tbody>
		<tr><th>Name:</th><td>{{ obj.name }}</td></tr>
		<tr><th>ID:</th><td><a href="{{ url_for("pybble.views.view_oid", oid=obj.oid()) }}">{{ obj.oid() }}</a></td></tr>
		<tr><th>von:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj_owner.oid()) }}">{{ obj_owner }}</a></td></tr>
		<tr><th>unter:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj_parent.oid()) }}">{{ obj_parent }}</a></td></tr>
		{% if obj_superparent -%}
		<tr><th>Domain:</th><td><a href="{{ url_for("pybble.views.detail_oid", oid=obj_superparent.oid()) }}">{{ obj_superparent }}</a></td></tr>
		{% endif -%}
		<tr><th>Geändert:</th><td>{{ obj.modified }}</td></tr>
		<tr><th class="top">Inhalt:</th><td class="code"><code>{{ obj.data }}</code></td></tr>
	  </tbody>
    </table>
